@mixin only-desktop {
    @media screen and (min-width: 1024px) { @content; }
}

@mixin only-mobile {
    @media screen and (max-width: 1023px) { @content; }
}

@include only-mobile {
    .filters-mobile {
        width: fit-content;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        position: relative;
        display: block;
    
        &__wrapper {
            display: none;
        }
    
        &__input-main {
            appearance: none;
            display: none;
            position: absolute;
            width: 0;
            height: 0;
        }
    
        &__label-main {
            display: block;
            margin-bottom: 5px;
            cursor: pointer;
            position: relative;
            padding-right: 10px;
            padding-left: 0px;
    
            /* Raleway / 12 bold */
    
            font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 166.4%;
            /* identical to box height, or 20px */
    
            font-feature-settings: 'pnum' on, 'lnum' on;
    
            color: #000000;
        }
    
        &__label-main:after {
            content: '';
            border: solid black;
            border-width: 0 1px 1px 0;
            display: inline-block;
    
            position: relative;
            top: -3px;
            left: 5px;
    
            width: 5px;
            height: 5px;
    
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    
        &__input-main:checked~&__wrapper {
            display: flex;
            flex-direction: row;
            position: absolute;

            width: 349px;
            max-width: 95vw;

            @media screen and (min-height: 993px) { 
                width: 150px;
            }

            top: 20px;
            z-index: 5;
            box-shadow: 6px 6px 8px rgba(179, 179, 179, 0.25), 4px 4px 6px rgba(135, 135, 135, 0.25);
        }
    
        &__input-main:checked~&__label-main:after {
            border-width: 1px 0px 0px 1px;
            top: 0px;
        }
    }
}

.filter-form {
    padding-top: 20px;
    display: flex;
    row-gap: 15px;
    flex-direction: column;

    @include only-mobile {
        background-color: white;
        flex-wrap: wrap;
        width: 100%;
        min-height: 475px;
        max-height: 75vh;
        padding-bottom: 20px;
    }
}

// Filter types and checkboxes

.filter {
    width: fit-content;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    position: relative;
    display: block;

    // Name of the filter - checkbox

    &__input-main {
        appearance: none;
        display: none;
        position: absolute;
        width: 0;
        height: 0;
    }

    // Name of the filter - text

    &__label-main {
        display: block;
        margin-bottom: 5px;
        cursor: pointer;
        position: relative;
        padding-right: 10px;
        padding-left: 0px;

        /* Raleway / 12 bold */

        font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 166.4%;
        /* identical to box height, or 20px */

        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #000000;
    }

    @include only-desktop {
        &__label-main:after {
            content: '';
            border: solid black;
            border-width: 0 1px 1px 0;
            display: inline-block;
    
            position: relative;
            top: -3px;
            left: 5px;
    
            width: 5px;
            height: 5px;
    
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    
        &__input-main:checked~&__label-main:after {
            border-width: 1px 0px 0px 1px;
            top: 0px;
        }
    }
    
    // Container with filter chekboxes

    &__wrapper {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 10px;
        position: relative;

        @include only-desktop {
            gap: 5px;
        }
    }

    @include only-desktop {
        &__wrapper {
            display: none;
        }

        &__input-main:checked~&__wrapper {
            display: flex;
        }
    }

    // ----

    &__input {
        display: none;
    }

    &__label {
        color: #565656;
        font-feature-settings: 'pnum' on, 'lnum' on;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
    }

    &__label:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid #565656;
        border-radius: 0px;
        margin-right: 5px;
        z-index: 1;
        box-sizing: border-box;
        transform: translateY(1px);
    }

    &__input:checked+&__label:before {
        background: url(./img/checkmark.svg) no-repeat;
        background-size: cover;
    }

    &__input {
        position: absolute;
    }
}