@import "_fonts";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p,
a,
ul,
li {
    text-transform: none;
    text-decoration: none;
    /* font-weight: normal; */
    color: inherit;
}

a {
    display: block;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Raleway Light', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;

}

.container {
    min-height: 100vw;
    display: grid;
    grid-template: minmax(40px, auto) 1fr auto / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    /* width: 94.66%;
    margin: 0 auto; */
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;

}

.footer {
    grid-area: footer;
    background-color: #F4F4F4;
}


.wrapper {
    width: 88.89%;
    margin: 0 auto;
}

.button {
    appearance: none;
    background-color: transparent;
    border: none;
}

.img {
    display: block;
    width: 100%;
}

/* Text decoration main*/

.text {
    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 166.19%;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.text_pointed {
    text-decoration: underline;
}

.desktop {
    display: none;
}

.hidden {
    display: none;
}


/* Header */

.nav {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.nav__menus {
    width: 15%;
    text-align: start;
}

.menu__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.menu__item_red {
    font-weight: 700;
    color: #DA1F39;
}

.nav__logo {
    text-align: center;
    width: 70%;
}

.nav__actions {
    width: 15%;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 20px;
}

.nav__actions:last-child {
    column-gap: 15px;
}


.nav__actions-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;

}

.phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.nav__actions-item>span {
    display: block;
}

.search__icon {
    width: 21px;
    height: auto;
}

.nav__actions-arrow {
    display: inline-block;
    background-image: url(./img/arrov-down_icon.svg);
    background-size: auto;
    background-repeat: no-repeat;
    width: 10px;
    height: 5px;
    margin: 9px 10px 10px 10px;
}

/* Breadcrumbs */

.breadcrumbs {
    padding-top: 10px;
    padding-bottom: 20px;
}

.breadcrumbs__item {
    position: relative;
}

.breadcrumbs__item:not(:last-child)::after {
    content: url(./img/breadcrumbs_icon.svg);
    width: 25px;
    height: 0.7px;
    position: absolute;
    top: -28%;
    right: -30px;
}

.breadcrumbs__list {
    display: flex;
    gap: 35px;
}

.breadcrumbs__link {
    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 166.4%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: black;
}

.breadcrumbs__link_activ {
    font-weight: 300;
    line-height: 20px;

}

/* Catalog */



.catalog__content-wrapper {
    display: flex;
    flex-direction: column;
}

.catalog__navigation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    align-items: center;
}

.catalog__title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.catalog__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.heading-main {
    font-family: 'Dela Gothic One', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140.3%;
    /* or 25px */

    text-transform: uppercase;

    color: #000000;
    text-align: end;
}

.filters-mobile,
.catalog__sort,
.card__description {
    /* Raleway / 12 light */

    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: relative;
    /* padding: 0px 0px 85% 0px; */
}

// .card__img {
//      position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

.card__price {
    /* Raleway/paragraph bold */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 166.2%;
    /* or 23px */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
}

.catalog__more-button {
    align-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Filters */


.filter-form {
    padding-top: 20px;
    display: flex;
    row-gap: 15px;
    flex-direction: column;
}

.filters-mobile {
    width: fit-content;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    position: relative;
    display: block;


    &__wrapper {
        display: none;
    }

    &__input-main {
        appearance: none;
        display: none;
        position: absolute;
        width: 0;
        height: 0;
    }

    &__label-main {
        display: block;
        margin-bottom: 5px;
        cursor: pointer;
        position: relative;
        padding-right: 10px;
        padding-left: 0px;

        /* Raleway / 12 bold */

        font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 166.4%;
        /* identical to box height, or 20px */

        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #000000;
    }

    &__label-main:after {
        content: '';
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;

        position: relative;
        top: -3px;
        left: 5px;

        width: 5px;
        height: 5px;

        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    &__input-main:checked~&__wrapper {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 5px;
        position: relative;
    }

    &__input-main:checked~&__label-main:after {
        border-width: 1px 0px 0px 1px;
        top: 0px;
    }

    

   
}

.filter {
    width: fit-content;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    position: relative;
    display: block;



    &__input {
        display: none;
    }

    &__label {
        font-weight: 300;
        font-size: 12px;
        color: #565656;
        line-height: 20px;
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &__label:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid #565656;
        border-radius: 0px;
        margin-right: 5px;
        z-index: 1;
        box-sizing: border-box;
        transform: translateY(1px);
    }

    &__input:checked+&__label:before {
        background: url(./img/checkmark.svg) no-repeat;
        background-size: cover;
    }

    &__label-main {
        display: block;
        margin-bottom: 5px;
        cursor: pointer;
        position: relative;
        padding-right: 10px;
        padding-left: 0px;

        /* Raleway / 12 bold */

        font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 166.4%;
        /* identical to box height, or 20px */

        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #000000;
    }

    &__label-main:after {
        content: '';
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;

        position: relative;
        top: -3px;
        left: 5px;

        width: 5px;
        height: 5px;

        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    &__wrapper {
        display: none;
    }

    &__input {
        position: absolute;
    }

    &__input-main {
        appearance: none;
        display: none;
        position: absolute;
        width: 0;
        height: 0;
    }

    &__input-main:checked~&__wrapper {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 5px;
        position: relative;
    }

    &__input-main:checked~&__label-main:after {
        border-width: 1px 0px 0px 1px;
        top: 0px;
    }
}



/* Footer */

.wrapper_footer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 20px 0;

}

.footer-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.footer__shedule-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 20px;

}

.footer__nav {
    max-width: 280px;
}


.footer__column-wrapper_big {
    display: flex;
}

.footer__column-wrapper {
    margin-right: 20px;

}

.footer__column-wrapper:last-child {
    margin-right: 0;
}

.footer__nav-item {
    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 166.19%;
    font-feature-settings: 'pnum' on, 'lnum' on;

    margin-top: 10px;
}

.footer__nav-item:first-child {
    margin-top: 0px;
}



.footer__nav-link_red {
    font-weight: 700;
    color: #DA1F39;
    padding-top: 10px;
}

.footer__social-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    max-width: fit-content;

}

.footer__social-ico {
    width: 22px;
    height: 22px;
}

.footer__info>*:not(:first-child) {
    margin-top: 10px;
}

.footer__address {
    font-style: normal;
}

.footer__social>*:not(:first-child) {
    margin-top: 10px;
}


.footer__copyright {
    align-self: flex-start;
}

.lang__item {
    display: none;
}



@media screen and (min-width: 700px) {
    .footer__social {
        order: 3;
    }

    // .footer__social-list {
    //     /* max-width: none; */
    // }

    .footer__copyright {
        align-self: center;
    }
}

@media screen and (min-width: 1024px) {


    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .nav {
        height: 100px;
    }

    .logo {
        width: 184px;
        height: auto;
    }

    .nav__menus {
        width: 40%;

    }

    .nav__logo {
        text-align: center;
        width: 20%;
    }

    .nav__actions {
        width: 40%;
    }

    .nav__actions-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
    }

    .catalog {
        display: grid;
        grid-template-areas: "filters filters cat-content cat-content cat-content cat-content cat-content cat-content cat-content cat-content cat-content cat-content";
        grid-template-rows: 1fr;
        column-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .catalog__content-wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .catalog__title {
        padding-bottom: 45px;
        padding-top: 0px;
    }

    .filters-desktop {
        grid-area: filters;
    }

    .catalog__content {
        grid-area: cat-content;
    }

    .heading-main {
        font-size: 36px;
    }

    .filter {
        width: fit-content;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        position: relative;
        display: block;
    
    
    
        &__input {
            display: none;
        }
    
        &__label {
            font-weight: 300;
            font-size: 12px;
            color: #565656;
            line-height: 20px;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }
    
        &__label:before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 1px solid #565656;
            border-radius: 0px;
            margin-right: 5px;
            z-index: 1;
            box-sizing: border-box;
            transform: translateY(1px);
        }
    
        &__input:checked+&__label:before {
            background: url(./img/checkmark.svg) no-repeat;
            background-size: cover;
        }
    
        &__label-main {
            display: block;
            margin-bottom: 5px;
            cursor: pointer;
            position: relative;
            padding-right: 10px;
            padding-left: 0px;
    
            /* Raleway / 12 bold */
    
            font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 166.4%;
            /* identical to box height, or 20px */
    
            font-feature-settings: 'pnum' on, 'lnum' on;
    
            color: #000000;
        }
    
        &__label-main:after {
            content: '';
            border: solid black;
            border-width: 0 1px 1px 0;
            display: inline-block;
    
            position: relative;
            top: -3px;
            left: 5px;
    
            width: 5px;
            height: 5px;
    
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    
        &__wrapper {
            display: none;
        }
    
        &__input {
            position: absolute;
        }
    
        &__input-main {
            appearance: none;
            display: none;
            position: absolute;
            width: 0;
            height: 0;
        }
    
        &__input-main:checked~&__wrapper {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 5px;
            position: relative;
        }
    
        &__input-main:checked~&__label-main:after {
            border-width: 1px 0px 0px 1px;
            top: 0px;
        }
    }
    
   
    .card__description {
        margin-top: 10px;
    }

    .wrapper_footer {
        row-gap: 40px;
        padding: 70px 0;

    }

    .footer-wrapper {
        display: grid;
        width: 100%;
        /* justify-content: space-between; */
        /* flex-wrap: wrap; */
        column-gap: 20px;
        grid-template-areas: "fn fn fn fn fn fi fi fi fi fl-c fl-c fl-c ";
        grid-row: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .footer__logo {
        display: block;

    }

    .footer__nav {
        grid-area: fn;
    }

    .footer__nav-link_red {
        font-weight: 700;
        color: #DA1F39;
        padding-top: 20px;
    }

    .footer__social {
        grid-area: fs;
    }

    .footer__info {
        grid-area: fi;
    }

    .footer__copyright {
        grid-area: fc;
    }

    .footer__last-column {
        grid-area: fl-c;
    }

    .footer__column-wrapper_big {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .footer__column-wrapper {
        margin-right: 0px;

    }


    .footer__last-column {
        display: grid;
        grid-template-areas:
            "f-s"
            "f-c";
        grid-template-columns: minmax(190px, auto);
        grid-template-rows: 1fr auto;

    }

    .footer__social {
        grid-area: f-s;
    }

    .footer__copyright {
        grid-area: f-c;
    }

}