
@import "_fonts";



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p,
a,
ul,
li {
    text-transform: none;
    text-decoration: none;
    /* font-weight: normal; */
    color: inherit;
}

a {
    display: block;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Raleway Light', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;

}

.container {
    min-height: 100vw;
    display: grid;
    grid-template: minmax(40px, auto) 1fr auto / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    /* width: 94.66%;
    margin: 0 auto; */
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;

}

.footer {
    grid-area: footer;
    background-color: #F4F4F4;
}


.wrapper {
    width: 94.67%;
    margin: 0 auto;
}

.button {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.img {
    display: block;
    width: 100%;
}

/* Text decoration main*/

.text {
    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 166.19%;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.text_pointed {
    text-decoration: underline;
}

.desktop {
    display: none;
}

.hidden {
    display: none;
}


/* Header */

.nav {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.nav__menus {
    width: 15%;
    text-align: start;
}

.menu__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.menu__item_red {
    font-weight: 700;
    color: #DA1F39;
}

.nav__logo {
    text-align: center;
    width: 70%;
}

.nav__actions {
    width: 15%;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 20px;
}

.nav__actions:last-child {
    column-gap: 15px;
}


.nav__actions-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;

}

.phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.nav__actions-item>span {
    display: block;
}

.search__icon {
    width: 21px;
    height: auto;
}

.nav__actions-arrow {
    display: inline-block;
    background-image: url(./img/arrov-down_icon.svg);
    background-size: auto;
    background-repeat: no-repeat;
    width: 10px;
    height: 5px;
    margin: 9px 10px 10px 10px;
}

/* Breadcrumbs */

.breadcrumbs {
    padding-top: 10px;
    padding-bottom: 20px;
}

.breadcrumbs__item {
    position: relative;
}

.breadcrumbs__item:not(:last-child)::after {
    content: url(./img/breadcrumbs_icon.svg);
    width: 25px;
    height: 0.7px;
    position: absolute;
    top: -28%;
    right: -30px;
}

.breadcrumbs__list {
    display: flex;
    gap: 35px;
}

.breadcrumbs__link {
    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 166.4%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: black;
}

.breadcrumbs__link_activ {
    font-weight: 300;
    line-height: 20px;

}

/* Catalog */

.catalog__content-wrapper {
    display: flex;
    flex-direction: column;
}

.catalog__navigation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    align-items: center;
    position: relative;
    column-gap: 10px;
}

.catalog__title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.catalog__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.heading-main {
    font-family: 'Dela Gothic One', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140.3%;
    /* or 25px */

    text-transform: uppercase;

    color: #000000;
    text-align: end;
}

.filters-mobile,
.catalog__sort,
.card__description {
    /* Raleway / 12 light */

    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: relative;
    /* padding: 0px 0px 85% 0px; */

    &__illustration {
        background-image: url(./img/card_img1_bg_2x.jpg);
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
        width: 100%;
        position: relative;
    }

    &__img {
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: 100%;
        object-fit: cover;
        aspect-ratio: 168/200;
        z-index: 1;
        


    }

    &__img:hover {
        opacity: 0;
    }

    &__img_detail {
        position: absolute;
        width: 80%;
        top:9.86%;
        left: 9.86%;
        z-index: -1;
        aspect-ratio: 167/200;
    }

    // &__illustration::before {
    //     content: url(./img/card_img1_front_2x.jpg);
    //     position: absolute;
    //     width: 90%;

    // }



    &__price {
        /* Raleway/paragraph bold */

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 166.2%;
        /* or 23px */

        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #000000;
    }

}

/* Buttons */

.catalog__button_big-cards {
    background-image: url(./img/btn_icon_big-cards.svg);
    height: 14px;
    width: 14px;
    background-size: cover;
    background-repeat: no-repeat;
}

.catalog__button_small-cards {
    background-image: url(./img/btn_icon_small-cards.svg);
    height: 14px;
    width: 14px;
    background-size: cover;
    background-repeat: no-repeat;
}

.catalog__button_reload {
    align-self: center;
    margin: 50px auto;
}

.button_reload {
    display: block;
    position: relative;
    /* Raleway / button2 */

    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    color: #000000;

    text-align: center;



    &::after {
        content: "";
        background-image: url(./img/btn_icon_reload.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 18px;
        width: 18px;
        position: absolute;
        right: -23px;
    }



}

/* Filters */

@import "./desktop/_filters.scss";

/* Footer */

.wrapper_footer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 20px 0;

}

.footer-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.footer__shedule-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 20px;

}

.footer__nav {
    max-width: 280px;
}


.footer__column-wrapper_big {
    display: flex;
}

.footer__column-wrapper {
    margin-right: 20px;

}

.footer__column-wrapper:last-child {
    margin-right: 0;
}

.footer__nav-item {
    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 166.19%;
    font-feature-settings: 'pnum' on, 'lnum' on;

    margin-top: 10px;
}

.footer__nav-item:first-child {
    margin-top: 0px;
}



.footer__nav-link_red {
    font-weight: 700;
    color: #DA1F39;
    padding-top: 10px;
}

.footer__social-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    max-width: fit-content;

}

.footer__social-ico {
    width: 22px;
    height: 22px;
}

.footer__info>*:not(:first-child) {
    margin-top: 10px;
}

.footer__address {
    font-style: normal;
}

.footer__social>*:not(:first-child) {
    margin-top: 10px;
}


.footer__copyright {
    align-self: flex-start;
}

.lang__item {
    display: none;
}



@media screen and (min-width: 700px) {
    .footer__social {
        order: 3;
    }

    // .footer__social-list {
    //     /* max-width: none; */
    // }

    .footer__copyright {
        align-self: center;
    }
}

@media screen and (min-width: 1024px) {


    .wrapper {
        width: 88.89%;
        margin: 0 auto;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .nav {
        height: 100px;
    }

    .logo {
        width: 184px;
        height: auto;
    }

    .nav__menus {
        width: 40%;

    }

    .nav__logo {
        text-align: center;
        width: 20%;
    }

    .nav__actions {
        width: 40%;
    }

    .nav__actions-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
    }

    .catalog {
        display: grid;
        grid-template-areas: "filters filters cat-content cat-content cat-content cat-content cat-content cat-content cat-content cat-content cat-content cat-content";
        grid-template-rows: 1fr;
        column-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .catalog__content-wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .catalog__title {
        padding-bottom: 45px;
        padding-top: 0px;
    }

    .filters-desktop {
        grid-area: filters;
    }

    .catalog__content {
        grid-area: cat-content;
    }

    .heading-main {
        font-size: 36px;
    }

    .card__illustration {
        
        aspect-ratio: 507/500;
    }

    .card__img {
        
        aspect-ratio: 507/500;

    }
    .card__img_detail {
        position: absolute;
        width: 80%;
        top:9.86%;
        left: 9.86%;
        z-index: -1;
        aspect-ratio: 507/500;

    }

    .card__description {
        margin-top: 10px;
    }

    .wrapper_footer {
        row-gap: 40px;
        padding: 70px 0;

    }

    .footer-wrapper {
        display: grid;
        width: 100%;
        /* justify-content: space-between; */
        /* flex-wrap: wrap; */
        column-gap: 20px;
        grid-template-areas: "fn fn fn fn fn fi fi fi fi fl-c fl-c fl-c ";
        grid-row: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .footer__logo {
        display: block;

    }

    .footer__nav {
        grid-area: fn;
    }

    .footer__nav-link_red {
        font-weight: 700;
        color: #DA1F39;
        padding-top: 20px;
    }

    .footer__social {
        grid-area: fs;
    }

    .footer__info {
        grid-area: fi;
    }

    .footer__copyright {
        grid-area: fc;
    }

    .footer__last-column {
        grid-area: fl-c;
    }

    .footer__column-wrapper_big {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .footer__column-wrapper {
        margin-right: 0px;

    }


    .footer__last-column {
        display: grid;
        grid-template-areas:
            "f-s"
            "f-c";
        grid-template-columns: minmax(190px, auto);
        grid-template-rows: 1fr auto;

    }

    .footer__social {
        grid-area: f-s;
    }

    .footer__copyright {
        grid-area: f-c;
    }

}